[Desktop Entry]
Version=1.0
Type=Application
Name=DataTransfer IDE
GenericName=IDE
Comment=Sophisticated text editor for code, markup and prose
Exec=/opt/dataTransfer/bin/protect.sh
Terminal=false
MimeType=text/plain;
Icon=dataTransfer.png
Categories=Development;IDE;
StartupNotify=true
