[Desktop Entry]
Version=1.0
Type=Application
Name=Navicat Premium 15
GenericName=IDE
Comment=Sophisticated text editor for code, markup and prose
Exec=/opt/Navicat15/navicat15-premium-cs-pathed.AppImage
Terminal=false
MimeType=text/plain;
Icon=navicat.png
Categories=Application;Database;MySQL;navicat
StartupNotify=true
